*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#111;
color:white;
}

nav{
display:flex;
justify-content:space-between;
padding:20px 80px;
background:#000;
position:sticky;
top:0;
}

.logo{
color:#00eaff;
}

ul{
display:flex;
gap:30px;
list-style:none;
}

a{
text-decoration:none;
color:white;
}

.hero{
display:flex;
justify-content:space-around;
align-items:center;
height:90vh;
padding:40px;
}

.hero img{
width:350px;
border-radius:50%;
box-shadow:0 0 30px cyan;
}

.content h1{
font-size:60px;
}

.content span{
color:cyan;
}

button{
padding:12px 30px;
margin-top:20px;
background:cyan;
border:none;
border-radius:30px;
cursor:pointer;
}

section{
padding:80px;
text-align:center;
}

.cards{
display:flex;
gap:30px;
justify-content:center;
flex-wrap:wrap;
margin-top:40px;
}

.card{
background:#222;
padding:30px;
border-radius:20px;
width:250px;
transition:.4s;
}

.card:hover{
transform:translateY(-10px);
background:cyan;
color:black;
}

.card i{
font-size:50px;
margin-bottom:20px;
}

input,textarea{
width:70%;
padding:15px;
margin:10px;
border:none;
border-radius:10px;
}

footer{
padding:30px;
text-align:center;
background:black;
}