CSS

body{
    margin:0;
    background:#121212;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.container{
    background: white;

    padding: 40px;

    border-radius: 20px;

    text-align: center;

    width:300px;

    box-shadow: 0 0 30px rgba(0,0,0,.3);
}

.profile{
    width: 150px;

    border-radius: 50%;
}

h1{
    color:#333;
}

p{
    color:gray;
}

button{
    background: #007bff;

    color: white;

    border:none;

    padding: 12px 25px;

    border-radius: 10px;

    cursor:pointer;
}

button:hover{
    transform: scale(1.05);

    transition: .3s;
}